h1{
    background-color: crimson;
    font-size: 60px;
    text-align: center;
    border: solid 50px ;
    
  }
  h2{
    font-size: 60px;
    background-color: darkorange;
    text-align: center;
    border: solid  40px;
    
  }
  p{

    font-style: normal;
    text-align: justify;
  } 
   body{
      background-image: url(../img/Gotland-Bottarve_Museumshof_07.jpg);
      background-position: 150px 1000px;
      background-repeat: no-repeat;
      text-align: center;
   }